<h1><%= @user.name.titleize %>'s Profile Page</h1>

<p>Your Saved Events: </p>
  <ul>
    <% @user.events.each do |event| %>
      <li>link_to event.name, event_path(event)</li>
    <% end %>
  </ul>

<br></br>

<p>Upload a Profile Picture: </p>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<%= link_to "Search for an event near you!", events_path %>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
