<div class="tile is-ancestor">
  <!-- First 1/2 -->
  <!-- User administrative info -->
  <div class="tile is-parent">
    <div class="tile is-child">
      <!-- Content for right tile -->
      <div class="level"></div>
      <p class="title"><%= @user.name.titleize %>'s Profile Page</p>
      <p class="subtitle"><strong>Name: </strong><%= @user.name.titleize %></p>
      <p class="subtitle"><strong>Profile Picture:</strong></p>
      <!-- Div to nest user profile image under profile picture subtitle -->
      <div class="content">
        <%= image_tag @user.image.thumb.url %>
      </div>
      <!-- Log out form -->
      <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <div class="control">
        <button class="button is-primary is-outlined">Logout</button>
      </div>
      <% end %>
      <!-- End of right tile -->
    </div>
  </div>

  <!-- This tile will take the rest 1/2 -->
  <!-- User's saved events -->
  <div class="tile is-parent is-6">
    <div class="tile is-child">
      <!-- Content for left tile -->
      <article class="tile is-child notification is-white">
          <!-- Put any content you want -->
          <div class="level"></div>
          <%= link_to "Search for an event near you!", events_path %>

          <br></br>

          <p class="title"><p><strong>Your Upcoming Events:</strong></p><br>
          <ul>
            <% @user.events.each do |event| %>
            <li><%= link_to event.name, event_path(event) %></li><br>
            <% end %>
          </ul>
          <!-- End of content for left tile -->
        </article>
    </div>
    <!-- End of left tile -->
  </div>
</div>
