<div class="level"></div>

<div class="tile is-ancestor">
  <!-- First 1/2 -->
  <!-- User administrative info -->
  <div class="tile is-parent is-5 is-vertical">
    <div class="tile is-child">
      <!-- Content for left tile -->
      <p class="title">Welcome <%= @user.name.titleize %>!</p>
      <br>
      <p class="subtitle"><strong>Name: </strong><%= @user.name.titleize %></p>
      <p class="subtitle"><strong>Profile Picture:</strong></p>
      <!-- Div to nest user profile image under profile picture subtitle -->
      <div class="content">
        <div class="round" style="text-align: center;">
          <img src="<%= @user.image.thumb.url  %>" alt="Profile Picture">
        </div>
      </div>
      <!-- Log out form -->
      <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <div class="control">
        <button class="button is-primary is-outlined">Logout</button>
      </div>
      <% end %>
      <!-- End of right tile -->
    </div>
  </div>

  <!-- This tile will take the rest 1/2 -->
  <!-- User's saved events -->
  <div class="tile is-parent is-5 is-vertical">
    <!-- Content for right tile -->
    <div class="tile is-child is-white">
      <!-- Put any content you want -->
      <div class="level">
        <p class="title"><strong>Your Upcoming Events:</strong></p>
      </div>

        <% @user.events.each do |event| %>
        <div class="level">

          <div class="level-left">
            <div class="level-item has-text-left">
              <%= form_tag user_event_path(session[:user_id]), method: "delete" do %>
                <%= hidden_field_tag "event_id", event.id %>
                <button class="button is-small" style="border:none;">
                  <span class="icon has-text-danger">
                    <i class="fa fa-times-circle"></i>
                  </span>
                </button>
              <% end %>
              <label class="max_length"><%= link_to event.name, event_path(event) %></label>
            </div>
          </div>

          <div class="level-right">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Start Time</p>
                <p class="title"><%= event.start_time.strftime("%m/%d") %></p>
                <p class="heading has-text-weight-light is-size-7"><%= event.start_time.strftime("%I:%M %p") %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">End Time</p>
                <p class="title"><%= event.end_time.strftime("%m/%d") %></p>
                <p class="heading has-text-weight-light is-size-7"><%= event.end_time.strftime("%I:%M %p") %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Total</p>
                <p class="title"><%= event.users.count %></p>
                <p class="heading has-text-weight-light is-size-7">GROUPIES</p>
              </div>
            </div>
          </div>

        </div>
      <% end %>
      <!-- End of content for right tile -->
    </div>
    <!-- End of left tile -->
  </div>
</div>
