<!DOCTYPE html>
<html>
  <head>
    <title>LinkUp</title>
    <link rel="stylesheet" type="text/css" href="/css/video_style.css" />
    </div>
  </head>
  <body>
    <div class="fullscreen-bg">
      <%= video_tag "landing.mp4", autoplay: :autoplay, :loop => true, class: "video" %>
    </div>

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <article>
      <h1>Welcome to LINKUP<br /><span><%= form_for @user, url: login_path, method: :post do |f| %>
        <br>
        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Log In" %>

        <br></br>
        Don't have an account? <br>
        <%= link_to(controller: 'users', action: 'new') { 'Sign Up' } %>

      <% end %>
</span></h1>
    </article>

  </body>
</html>
