<div class="header">
  <%= link_to "Back to Search Results", search_results_path %>
  <%= link_to "Create a new search", events_path %>
</div>

<div class="spotlight">
  <img src="<%= @event.image_url %>" alt="">
  <h2><%= @event.name %></h2>
  <h4>Start Time: <%= @event.start_time.strftime("%a - %m/%d/%Y - %I:%M %p") %></h3>
  <h4>End Time: <%= @event.end_time.strftime("%a - %m/%d/%Y - %I:%M %p") %></h3>

  <h4>Description:</h4>
  <p><%= @event.description %></p>

  <h4><%= link_to "Link to EventBrite Page", @event.url %></h4>
  <%= form_tag user_event_path do %>
    <%= hidden_field_tag "event_id", @event.id %>
    <%= submit_tag "Add Event to Profile" %>
  <% end %>
</div>


<div class="round" style="text-align: right;">
  <% @event.users.each do |user| %>
    <img src="<%= user.prof_pic_url %>" alt="profile picture">
  <% end %>
</div>

<div class="event_comments">
  <h2>Comments</h2>

  <% if !(@comments.empty?) %>
    <% @comments.each do |comment| %>
      <div class="single">

        <div class="upvote">
          <%= link_to content_tag(:span), { controller: "likes", action: "create", like: { user_id: session[:user_id], comment_id: comment.id, active: 'true'}, event_id: @event.id }, method: "post", class: "glyphicon glyphicon-triangle-top #{check_if_clicked(comment, session[:user_id], true)}" %>
          <%= link_to content_tag(:span), { controller: "likes", action: "create", like: { user_id: session[:user_id], comment_id: comment.id, active: 'false' }, event_id: @event.id }, method: "post", class: "glyphicon glyphicon-triangle-bottom #{check_if_clicked(comment, session[:user_id], false)}" %>
          <b><%= comment.likes.where("active = ?", true).count %> Likes</b>
        </div>

        <div class="content">
          <b><%= comment.user.name %> : </b><%= comment.content %>
        </div>

      </div>
    <% end %>
  <% end %>

  <div class="">
    <%= form_tag comments_path do %>
      <%= hidden_field_tag :'comment[user_id]', session[:user_id] %>
      <%= hidden_field_tag :'comment[event_id]', @event.id %>
      <p>
        <%= text_area_tag :'comment[content]' %>
      </p>
      <%= submit_tag "Post Comment" %>
    <% end %>
  </div>
</div>
