<div class="header">
  <%= link_to "Back to Search Results", search_results_path %>
  <%= link_to "Create a new search", events_path %>
</div>

<div class="spotlight">
  <img src="<%= @event.image_url %>" alt="">
  <h2><%= @event.name %></h2>
  <h4>Start Time: <%= @event.start_time %></h3>
  <h4>End Time: <%= @event.end_time %></h3>

  <h4>Description:</h4>
  <p><%= @event.description %></p>

  <h4><%= link_to "Link to EventBrite Page", @event.url %></h4>
</div>

<div class="event_comments">
  <h2>Comments</h2>
  <ul>
    <% @comments.each do |comment| %>
    <li><%= comment.likes %> - <%= comment.user.name %> - <%= comment.content %></li>
    <% end %>
  </ul>

  <%= form_tag comments_path do %>
    <%= hidden_field_tag :'comment[user_id]', session[:user_id] %>
    <%= hidden_field_tag :'comment[event_id]', @event.id %>
    <p>
      <%= text_area_tag :'comment[content]' %>
    </p>
    <%= submit_tag "Post Comment" %>
  <% end %>
</div>
