<div class="level"></div>

<div class="tile is-ancestor">
  <div class="tile is-4 is-parent is-vertical">
    <!-- 1/3 -->

    <div class="tile is-child">
      <div class="tile is-child">
        <div class="level">
          <img src="<%= @event.image_url %>" alt="">
        </div>
        <div class="level">
          <label class="label is-size-4"><%= @event.name %></label>
        </div>
      </div>
      <!-- end of image and label block -->

      <div class="level is-marginless">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Start Time</p>
            <p class="title"><%= @event.start_time.strftime("%m/%d") %></p>
            <p class="heading has-text-weight-light is-size-7"><%= @event.start_time.strftime("%I:%M %p") %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">End Time</p>
            <p class="title"><%= @event.end_time.strftime("%m/%d") %></p>
            <p class="heading has-text-weight-light is-size-7"><%= @event.end_time.strftime("%I:%M %p") %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Following</p>
            <p class="title"><%= @event.users.count %></p>
            <p class="heading has-text-weight-light is-size-7">GROUPIES</p>
          </div>
        </div>
      </div>
      <!-- end of metrics block -->

      <div class="level">
        <div class="level-item is-grouped">
          <div class="control ext_button_padding">
            <%= form_tag user_event_path(session[:user_id]) do %>
              <%= hidden_field_tag "event_id", @event.id %>
                <button class="button is-primary is-small">
                  <span class="icon is-small">
                    <i class="fa fa-plus-circle"></i>
                  </span>
                  <span>Add To Profile</span>
                </button>
            <% end %>
          </div>

          <div class="control ext_button_padding">
            <a href="<%= @event.url %>" class="button is-primary is-small">
              <span class="icon is-small">
                <i class="fa fa-share-alt-square"></i>
              </span>
              <span>Link to EventBrite</span>
            </a>
          </div>

          <div class="control ext_button_padding">
            <a href="http://www.google.com" class="button is-primary is-small">
              <span class="icon is-small">
                <i class="fa fa-envelope-open-o"></i>
              </span>
              <span>Send Email</span>
            </a>
          </div>
        </div>
      </div>
      <!-- end of buttons div -->
    </div>

    <div class="tile is-child">
      <label class="label">Description:</label>
      <p><%= @event.description %></p>
    </div>

  </div>
  <!-- end of left tile stack -->

  <div class="tile is-6 is-parent is-vertical">
    <div class="level is-marginless">
      <label class="label">Post a New Comment!</label>
    </div>

    <div class="is-child is-vertical">
      <%= form_tag comments_path do %>
        <%= hidden_field_tag :'comment[user_id]', session[:user_id] %>
        <%= hidden_field_tag :'comment[event_id]', @event.id %>
        <p>
          <input type="text" class="textarea" name='comment[content]' rows="2" placeholder="Write a new comment here.">
        </p>
        <div class="control">
          <button class="button is-primary is-small">Submit</button>
        </div>
      <% end %>
    </div>
    <!-- end of comment text box -->

    <div class="level is-marginless">
      <label class="label">Comments</label>
    </div>
    <% if !(@comments.empty?) %>
      <% @comments.each do |comment| %>
        <div class="is-child is-vertical">

          <div class="heart">
            <%= link_to content_tag(:span), { controller: "likes", action: "create", like: { user_id: session[:user_id], comment_id: comment.id, active: 'true'}, event_id: @event.id }, method: "post", class: "fa fa-heart #{check_if_clicked(comment, session[:user_id])}" %>

            <b><%= count_likes(comment.likes) %></b>
          </div>

          <div class="content">
            <b><%= comment.user.name %> : <%= comment.created_at.strftime("%a - %m/%d/%Y - %I:%M %p") %></b>
            <br>
            <%= comment.content %>
          </div>

        </div>
        <!-- end of single comment box tile -->
      <% end %>
      <!-- end of comment iteration -->
    <% else %>
      <div class="level">
        <label class="label has-text-weight-light">Woof. No comments at the moment.</label>
      </div>
    <% end %>
    <!-- end of if statement -->

  </div>
  <!-- end of comment stack -->
</div>
