<!DOCTYPE html>
<html>
  <head>
    <title>LinkUp</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary">

      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            LinkUp
          </h1>
          <h2 class="subtitle">
            Groupies Assemble.
          </h2>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="level">
          <p class="level-item has-text-centered">
            <%= link_to "Home", root_path, class: "link is-info" %>
          </p>
          <p class="level-item has-text-centered">
            <%= link_to "About", "http://www.google.com" %>
          </p>
          <p class="level-item has-text-centered">
            <%= link_to "Contact", "http://www.google.com" %>
          </p>
        </nav>
      </div>

    </section>



    <%= yield %>

  </body>
</html>
