<!DOCTYPE html>
<html>
  <head>
    <title>LinkUp</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar background-purple" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <img src="/final-logo.png" alt="" style="min-height:55px">
        </div>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- navbar items -->
          <div class="navbar-item">
            <%= link_to "Home", root_path, class: "link has-text-white-bis has-text-weight-bold" %>
          </div>
          <div class="navbar-item">
            <%= link_to "My Profile", login_verification, class: "link has-text-white-bis has-text-weight-bold" %>
          </div>
          <div class="navbar-item">
            <%= link_to "Search for Events", events_path, class: "link has-text-white-bis has-text-weight-bold" %>
          </div>
          <div class="navbar-item">
            <%= link_to "Contact", contact_path, class: "link has-text-white-bis has-text-weight-bold" %>
          </div>
          <div class="navbar-item">
            <%= link_to "About", about_path, class: "link has-text-white-bis has-text-weight-bold" %>
          </div>
        </div>

        <div class="navbar-end">
          <!-- navbar items -->
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="bd-tw-button button is-large background-purple" style="border:none;" target="_blank" href="https://github.com/laurkim/LinkUp">
                  <span class="icon" style="color: white;">
                    <i class="fa fa-lg fa-github"></i>
                  </span>
                </a>
              </p>
              <p class="control">
                <a class="bd-tw-button button is-large background-purple" style="border:none;" target="_blank" href="https://twitter.com/">
                  <span class="icon" style="color: white;">
                    <i class="fa fa-lg fa-twitter"></i>
                  </span>
                </a>
              </p>
            </div>
          </div>
        <!-- end of navbar end block -->
        </div>

      </div>
    </nav>

    <%= yield %>

  </body>
</html>
